.container {
    height: 200px;
    position: relative;
  }
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



body {
    background: linear-gradient(213deg,#ff86f7,#f5c9e4,#f163be,#f5acda);
    background-size: 240% 240%;
    width: 100vw;
    height: 100vh;
    animation: gradient-animation 24s ease infinite;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Rozha+One');
  .hover-but{
      font-family: "Rozha One", serif;
      text-align: center;
      
      font-size: 80px;
      position: relative;
      margin-top: 500px;
      color: white;
      text-shadow: rgb(0, 0, 0) 3px 3px 3px;
  }

  .box {
    display: inline-block;
    width: 50px;
    border: 1px solid #000;
    text-align: center;
  }

.hover-but 

  .hover-but:hover {
    content: "Happy 15th monthsarry"
}
